@import "reset";

$main-font: "Poppins", sans-serif;
$second-font: "Inter", sans-serif;
$five-font: "Public Sans", sans-serif;

$bg-color: #f9f9f9f9;
@media (max-width: 1440px) {
  body {
    display: flex;
    flex-direction: column;
    color: $bg-color;
  }
}
@mixin btn-black() {
  border-radius: 16px;
  padding: 0px 24px;
  width: 200px;
  height: 50px;
  background: #141416;
  font-family: $second-font;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #fff;
}
@mixin btn-white() {
  border-radius: 16px;
  padding: 0px 24px;
  height: 50px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000;
  border: 1.5px solid #000;
  border-radius: 12px;
}
body {
  margin: 50px 0;
}
header {
  width: auto;
  max-height: 50px;
  display: block;
  justify-content: space-around;
  flex-direction: row;
  color: #000;
  .container {
    margin: 0px 100px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .col1 {
      display: flex;
      align-items: center;
      .logo {
        margin-right: 50px;
      }
      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin-right: 50px;
          font-family: $second-font;
          font-weight: 500;
          font-size: 17px;
          line-height: 150%;
          text-transform: uppercase;
          color: #606060;
          &:last-child {
            margin: 0px 20px 0px 0px;
          }
        }
      }
    }
    .col2 {
      .search {
        height: 45px;
        display: flex;
        align-items: center;
        font-family: $main-font;
        font-weight: 500;
        font-size: 15px;
        line-height: 117%;
        letter-spacing: -0.02em;
        color: #c2c3cb;
        border-radius: 14px;
        background: #ededed;
        padding: 0px 80px 0px 0px;
        img {
          margin: 0px 30px 0px 20px;
        }
      }
    }
    .black-btn {
      @include btn-black();
    }
  }
}
main {
  margin: 150px 0px;
  section.hero {
    margin: 0px 0px 0px 100px;
    .container {
      display: flex;
      justify-content: space-between;
      .title {
        margin: 0px 50px 0px 0px;
        hr {
          width: 40%;
          margin: 0px 0px 10px 0px;
        }
        h1 {
          font-family: $main-font;
          font-weight: 600;
          font-size: 75px;
          line-height: 120%;
          letter-spacing: -0.04em;
          text-transform: capitalize;
          color: #141416;
          margin: 0px 0px 20px 0px;
        }
        h2 {
          font-family: $second-font;
          font-weight: 400;
          font-size: 18px;
          line-height: 156%;
          text-align: justify;
          color: #676767;
          b {
            font-weight: 600;
            color: #141416;
          }
        }
        .btn {
          display: flex;
          margin: 45px 0px 0px 0px;
          .black-btn {
            @include btn-black();
            height: 60px;
          }
          .white-btn {
            @include btn-white();
            height: 60px;
          }
          :first-child {
            margin: 0px 25px 0px 0px;
          }
        }
        .stat {
          display: flex;
          margin: 80px 0px 0px 0px;
          .element {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0px 65px 0px 0px;
            h1 {
              font-family: $five-font;
              font-weight: 600;
              font-size: 36px;
              line-height: 125%;
              text-align: center;
              color: #141416;
            }
            h2 {
              font-family: $second-font;
              font-weight: 500;
              font-size: 12px;
              line-height: 150%;
              text-align: center;
              color: #848586;
            }
            &:last-child {
              margin: 0px;
            }
          }
        }
      }
      .carousel {
        display: flex;
        justify-self: flex-end;

        .column-one {
          display: flex;
          flex-direction: column;
          align-items: center;
          img.element {
            width: 400px;
            height: 420px;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
          }
          .nav-arrows {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            box-shadow: 0 43px 34px -26px rgba(15, 15, 15, 0.12);
            background: #fcfcfd;
            border-radius: 17px;
            padding: 21px;
            width: 166px;
            height: 70px;
            .devider {
              width: 2px;
              height: 25px;
              background: #e6e8ec;
            }
          }
        }
        .column-two {
          display: flex;
          flex-direction: column;
          margin: 0px 0px 0px -45px;
          .decor {
            display: flex;
            position: relative;
            justify-content: space-between;
            align-items: center;
            margin: 0px 0px -50px 0px;
            .rounded-arrow {
              margin-top: 50px;
              img {
                // margin: -px 0px 0px 0px;
                transform: rotate(-3deg); /* Вращение на 45 градусов */
              }
            }
            .dotted-matrix {
              position: absolute;
              z-index: -1;
              top: 0;
              right: 0;
            }
          }
        }
      }
    }
  }
}
